html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Spartan;
  padding: 0em;
  line-height: 2em;
}

.col-1 {
    background-color: #990000;
}

.col-10 {
    background-color: #fff;
}

.logo {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 200px;
}

row {
    height: 100%;
}

h1 {
	text-align: center;
	margin-top: 20em;
	color: green;
}

h2 {
	margin: 1em;
}

h3 {
	margin: 1em;
}

p {
	margin: 2em;
}

.bold {
	font-weight: bolder;
}

a:link {
  color: #990000;
}

a:visted {
  color: #990000 !important;
}

a:hover {
  color: #990000;
  font-weight: bold;
}

/*not an ideal solution but config isn't working*/
 .note-btn-group.btn-group.note-insert,  .note-btn-group.btn-group.note-view {
   display: none;
}

/*some starting point form styles*/

.form-content {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2vh;
  padding-bottom: 4vh;
}
.form-content input {
  margin: 0 .25rem;
  min-width: 50%;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-in-out;
  outline-offset: 3px;
}

.form-content input:required:valid {
  border-left-color: rgba(23, 150, 17, 0.6);
}
.form-content input:invalid {
  border-left-color:  #990000;
}

.form-field {
  margin-top: 3vh;
}

.form-content input, .form-content select {
  padding: 0.3rem;
}

.form-content input:focus {
  border-color: rgba(44,44,44,0.6);
  outline-style: none;
  box-shadow: none;
}

.form-content input[type=checkbox] {
   min-width: 5px !important;
}

.form-content select {
  outline-offset: 1px;
  border-radius: 5px;
  max-width: 45% !important;
}

select:focus {
  border-color: rgba(44,44,44,0.6) !important;
  outline-style: none !important;
  box-shadow: none !important;
  outline: none;
}

.form-button {
 margin-top: 5% !important;
 background-color: rgb(110,110,110);
 border-radius: 5px;
 border: 3px solid;
 color: white !important;
 padding: 10px 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 transition: border-color .5s ease-in-out;
 transition: background-color .5s ease-in-out;
}

.form-button:disabled {
  border-color:  #990000;
}

.form-button:enabled {
  border-color: rgba(23, 150, 17, 0.4)
}

.form-button:enabled:hover {
  background-color: rgb(23, 150, 17)
}

.form-button:focus {
  outline-style: none;
  box-shadow: none;
}

.target-bubble {
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 1.5%;
  transition: all .2s ease-in-out;
  text-align: center;
  min-width: 95px;
  margin-top: .75vh;
  display: inline-block;
  color: black !important;
  background-color: #f4f4f4
}

.fa-times:hover, .fa-plus:hover {
  color: #990000;
  cursor: pointer;
}

#email-body {
  margin-top: 4vh;
}

#disclaimer {
  padding-top: 4vh;
  text-align: center;
  font-size: 12px;
  opacity: 65%;
  width: 100%;
  line-height: normal;
}

#target-list {
  margin-bottom: 3vh;
}

#target-form {
  padding: 3vh 5% 5vh 5%;
}

.m-content {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.m-buttons {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: inline;
  padding: 5px;
}

.m-close {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 30px;
}
