<div class="m-content">
  <div class="m-close" ng-click="closeModal()"><i class="fa fa-times"></i></div>
  <div id="target-form" class="form-content">
    <div class="form-field">
      <label for="target-name">Name:</label><br>
      <input id="target-name" type="text" ng-model="model.newTarget.name">
    </div>
    <div class="form-field">
      <label for="target-position">Position:</label><br>
      <input id="target-position" type="text" ng-model="model.newTarget.role">
    </div>
    <div class="form-field">
      <label for="target-email">Email:</label><br>
      <input id="main-email" type="email" ng-model="model.newTarget.email" required>
    </div>
  </div>
  <div class="m-buttons">
    <button class="form-button" ng-click="closeModal()">Cancel</button>
    <button class="form-button" ng-click="addTarget()" ng-disabled="!model.newTarget.email">Add</button>
  </div>
</div>
